* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    color: var(--clr-primary-base);
}

body {
    margin: 0;

    font-size: 1rem;
    line-height: 1.25;
}

h2 {
    margin: 0;
}

main {
    background-color: var(--clr-primary-2);
}

img {
    width: 100%;
}

canvas {
    display: block;
    width: 500px;
    height: 500px;

    border-radius: 10px;
}

hr.custom-line {
    border: none;
    height: 1px;
    background-color: var(--clr-primary-1);
}

.btn {
    font-family: Roboto;
    font-size: 1em;

    color: var(--clr-primary-base);
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.btn:hover {
    color: var(--clr-primary--1);
}