* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    color: var(--clr-primary-base);
}

body {
    margin: 0;

    font-size: 1rem;
    line-height: 1.25;
}

main {
    background-color: var(--clr-primary-2);
}

img {
    width: 100%;
}

canvas {
    width: 300px;
    height: 300px;
    display: block;
}

.btn {
    font-family: Roboto;
    font-size: 1em;

    color: var(--clr-primary-base);
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.btn:hover {
    color: var(--clr-primary--1);
}