/* Main Layout */

.main-layout {
    display: grid;
    grid-template-columns: 1.25rem 1fr 1.25rem;
}

.main-layout>*:not(.full) {
  grid-column: 2;
}

.main-layout>*.full {
  grid-column: 1 / -1;
}


/* Header Layout */

.main-header {
    align-items: center;
}

.main-nav>ul {
    gap: 3.125em;
}


/* Main Content Gallery Layout */

.gallery {
    grid-template-rows: 1.875em 2.625em 1.875em auto;
}

.gallery .search-input {
    grid-row: 2;
}

.gallery .cards {
    grid-row: 4;
}

/* Cards Layout */
.cards {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 25px;
}


/* Main Content Meme-Edit Layout */

.meme-edit .main-content {
    min-height: calc(100vh - var(--header-height));
    grid-template-rows: 1.875em auto 1fr;
    grid-template-columns: 9fr 5fr;
}

.meme-edit .main-content .back-btn {
    grid-row: 2;
    place-self: start;
}

.meme-edit .main-content .canvas-container {
    grid-row: 3;
    place-self: center;
}

.meme-edit .main-content .toolbar {
    grid-row: 1/-1;
    grid-column: 2;
}


