/* Main Layout */

.main-layout {
    display: grid;
    grid-template-columns: 1.25rem 1fr 1.25rem;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>*.full {
  grid-column: 1 / -1;
}


/* Header Layout */

.main-header {
    align-items: center;
}

.main-nav>ul {
    gap: 3.125em;
}


/* Main Content Gallery Layout */

.main-content.gallery {
    grid-template-rows: 1.875em 2.625em 1.875em auto;
}

.main-content.gallery .search-input {
    grid-row: 2;
}

.main-content.gallery .cards {
    grid-row: 4;
}

/* Cards Layout */
.cards {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 25px;
}